
* {
    font-family: 'Montserrat';
}

/*Menu*/
.menu-block {
    text-align: center;
}

.menu-list li {
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    margin: 30px 36px 30px 36px;

    /*font-family: 'Montserrat';*/
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: #FF0000;
}

.links {
    text-decoration: none;
    color: red;
}

.links:hover {
    border-bottom: 1px solid red;
}

/*Picture*/
.picture {
    text-align: center;
    margin: 0;
}

/*Title_text*/
.title-text {
    margin-top: 48px;
    text-align: center;
    /*font-family: 'Montserrat';*/
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
}

/*First_block*/
.first-block {
    /*font-family: 'Montserrat';*/
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
    width: 1145px;
    margin: 30px auto;
}

/*Second_block*/
.second-block {
    /*font-family: 'Montserrat';*/
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
    width: 1145px;
    margin: 30px auto;
}

/*Button_block*/

.button-block {
    margin: 0;
    text-align: center;
}

.link-like-button {
    display: inline-block;
    vertical-align: middle;
    border-radius: 4px;
    margin: 10px;
    padding: 17px;
    background: #FF0000;
    /*font-family: 'Montserrat';*/
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}

/*Footer*/
.block-footer {
    text-align: center;
}

.footer-text {
    /*font-family: 'Montserrat';*/
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    color: #373737;
    text-align: right;
    display: inline-block;
    vertical-align: middle;
    width: 1000px;
    padding: 10px;
    margin-top: 82px;
}

.test {
    border: 2px solid red;
    outline: none;
}

.table {

    display: inline-block;
    vertical-align: center;
    color: red;

    background: aqua;
    margin: 10px;
    padding: 10px 40px;
    cursor: pointer;
    font-size: 40px;
    border: 1px black;
    text-decoration: none;
    border-radius: 7px;
    font-weight: 700;
    font-style: normal;
}

.table:hover {
    background: blue;
    color: white;
    font-style: italic;

}